/* Apply yellow background color to the body */
body {
	background-color: yellow;
}

/* Apply smaller font size and increase letter spacing for all paragraphs */
p {
	font-size: smaller;
	letter-spacing: 1em;
}